python-dotenv==1.0.0
openai==1.3.0
langchain==0.0.335
streamlit==1.26.0
tiktoken==0.5.1
azure-cognitiveservices-speech
gtts
pydub
speechRecognition
streamlit-mic-recorder==0.0.4
fastapi==0.104.1
uvicorn==0.24.0
